{% extends "exercises/layout.html" %}
{% load crispy_forms_tags %}


{% block content %}

        <form method="POST">
            {% csrf_token %}
            <div class="form group">
                <p>Are you sure you want to delete this training program?</p>
            </div>
            <div class="form-group">
                <small>
                    <button type="sumbit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'training_programs_list'  %}" class="btn btn-success">Don't Delete</a>
                </small>

            </div>
        </form>
        

    
    
    
    
    

{% endblock content %}