{% extends "exercises/layout.html" %}


{% block content %}
    <div class="drop-container">
        <div class="dropdown drop-del">
            <button class="btn btn-large btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Program to Delete
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for program in training_programs %}
              <a class="dropdown-item" href="{% url 'training_program_delete' program.id %}">{{program.title}}</a>
            {% endfor %}
            </div>
          </div>
    </div>
    
    
{% endblock content%}